body {
    font-family: "Nunito", sans-serif !important;
}

.btn i {
    margin-right: 0;
}

span.required {
    color: #FF5370;
}

select.form-control, select.form-control:hover, select.form-control:focus {
    border: 1px solid #ccc;
}